<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ingeniería Web - Contacto</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="imgs/scrum.png" size="16x16">
</head>

<body>
    <nav>
        <table>
            <thead>
                <th>
                    <img width="300" height="100" src="../imgs/contact.jpg">
                    <h2>Contactar</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, cum delectus sit eaque aspernatur soluta sapiente? Odio fugiat voluptatum est similique non ipsum dolore dolor! Dolorum corrupti amet voluptatem ut?</p>
                </th>
            </thead>
        </table>
        <dd>

        </dd>
    </nav>
    <hr>
    <section>
        <div>
            <form id="formContact" action="#">
                <div>
                    <label>Nombre y Apellidos:</label>
                    <br>
                    <input id="name" name="name" type="text" placeholder="Carlos Díaz Chávez" required>
                </div>
                <br>
                <div>
                    <label>Teléfono/Celular:</label>
                    <br>
                    <input id="phone" name="phone" type="number" placeholder="931123321" required>
                </div>
                <br>
                <div>
                    <label>Email:</label>
                    <br>
                    <input id="email" name="email" type="email" placeholder="cdiazc15@unc.edu.pe" required>
                </div>
                <br>
                <div>
                    <label>Mensaje:</label>
                    <br>
                    <textarea id="message" name="message" placeholder="Ingresar el mensaje que deseas enviar." required rows="5"></textarea>
                </div>
                <br>
            </form>
            <button type="submit" form="formContact">Enviar mensaje</button>
            <button type="reset" form="formContact">Limpiar contenido</button>
            <button onclick="window.location.href='../index.html';">Volver</button>
        </div>
    </section>
    <hr>
    <footer>
        <dd><em>* El mensaje será enviado a Carlos Díaz Chávez, muy pronto se tratará de comunicar contigo. Gracias.</em></dd>
    </footer>
</body>

</html>