<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ingeniería Web - Contacto</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="../imgs/scrum.png" size="16x16">
    <link rel="stylesheet" type="text/css" href="../public/asset/css/inicio.css" />
</head>

<body>
    <div class="menu">

    </div>
    <div class="container">
        <a class="btn-redirect" id="perfil" href="../index.html">Perfil</a>
        <a class="btn-redirect" id="turismo" href="tour.html">Turismo</a>
        <img class="gif-size" src="../public/img/loader.gif">
    </div>
</body>

</html>