<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ingeniería Web - Contacto</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="../imgs/scrum.png" size="16x16">
    <link rel="stylesheet" type="text/css" href="../public/asset/css/inicio.css" />
    <link rel="stylesheet" type="text/css" href="../public/asset/css/contact.css" />
</head>

<body>
    <section>
        <div class="container-contact">
            <h2>Contáctanos</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis at, suscipit aut asperiores animi, ullam eaque rem, non incidunt itaque nulla mollitia commodi ea numquam dolor accusantium sint delectus. Illum.</p>
        </div>
        <div class="container-contact-form">
            <form action="#">
                <h4>Nombres</h4>
                <input class="form-control" type="text" placeholder="Carlos">
                <h4>Apellidos</h4>
                <input class="form-control" type="text" placeholder="Díaz Chávez">
                <h4>Email</h4>
                <input class="form-control" type="email" placeholder="cdiazc15@unc.edu.pe">
                <hr>
                <button type="submit">Enviar Información</button>
            </form>
        </div>
    </section>
    <div class="container">
        <a class="btn-redirect" id="perfil" href="../index.html">Perfil</a>
        <a class="btn-redirect" id="turismo" href="tour.html">Turismo</a>
        <img class="gif-size" src="../public/img/loader.gif">
    </div>
</body>

</html>