<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ingeniería Web - SCRUM</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="imgs/scrum.png" size="16x16">
</head>

<body>
    <header>
        <img src="../imgs/scrum.png" />
        <figcaption>Scrum - Metodología ágil</figcaption>
    </header>

    <div>
        <h2>Scrum</h2>
        <p>Scrum es un proceso de gestión que reduce la complejidad en el desarrollo de productos para satisfacer las necesidades de los clientes. La gerencia y los equipos de Scrum trabajan juntos alrededor de requisitos y tecnologías para entregar productos
            funcionando de manera incremental usando el empirismo.<br /> Scrum es un marco de trabajo simple que promueve la colaboración en los equipos para lograr desarrollar productos complejos.<br /></p>
        <h3>Marco de trabajo</h3>
        <div>
            <img src="../imgs/marcoScrum.png" />
            <figcaption>Marco de SCRUM</figcaption>
        </div>
        <h3><br />Eventos</h3>
        <p>*La duración de los eventos no se puede alterar<br /></p>
        <ul>
            <li>Sprint:cada iteración de desarrollo.</li>
            <li>Planificación de Sprint: reunión de trabajo previa al inicio de cada sprint en la que se determina el objetivo del sprint y las tareas necesarias para conseguirlo.</li>
            <li>Scrum diario: breve reunión diaria del equipo.</li>
            <li>Revisión de Sprint: análisis e inspección del incremento generado, y adaptación de la pila del producto si resulta necesario.</li>
            <li>Retrospectiva de Sprint: revisión de lo sucedido durante el Sprint, en la que se plantean mejoras para el desarrollo de Sprints posteriores.</li>
        </ul>
        <h3><br />Artefactos</h3>
        <ul>
            <li>Pila del producto: lista de requisitos de usuario que evoluciona durante el desarrollo.</li>
            <li>Pila del Sprint: lista de los trabajos que debe realizar el equipo durante el sprint para generar el incremento previsto.</li>
            <li>Incremento: resultado de cada sprint.</li>
        </ul>
    </div>
    <footer><button onclick="window.location.href='../index.html';">Volver</button></footer>
</body>

</html>