<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Team PHP Artisan - SCRUM</title>
    <link rel="icon" href="../public/img/index/scrum.png" size="192x192">
    <link rel="stylesheet" type="text/css" href="../public/asset/css/inicio.css" />
    <link rel="stylesheet" type="text/css" href="../public/asset/css/tour.css" />
</head>

<body>


    <div class="menu">
        <h4 id="tour-place">Lugares</h4>
        <div class="contenedor-member">
            <a id="tour-1" href="https://www.facebook.com/" title="Ir a facebook" target="_blank"><label>Baños del Inka</label></a><img class="members" id="img-user1" src="../public/img/tours/banos-inca.jpg" width="50" heigth="50">
            <div class="cuerpo">
                <div class="ventana">
                    <div class="foto">
                        <img class="imag" src="../public/img/tours/banos-inca.jpg">
                    </div>
                    <div class="datos">
                        <ul>
                            <li>Aguas termanles</li>
                            <li>Lindos paisajes</li>
                            <li>Cultura incaica</li>
                            <li>Centro recreacional</li>
                            <img class="gif" src="../public/img/loader.gif">
                        </ul>

                    </div>
                </div>
            </div>
            <div class="container-description">
                <h3>Descripción</h3>
                <div class="description">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis exercitationem, ratione, quasi voluptatum nostrum, unde non iure omnis eligendi architecto earum? Ut ducimus ad error maiores inventore, incidunt expedita quam! Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Vitae accusamus fuga odio odit rem, eum nesciunt sint suscipit laudantium harum, ad nostrum at, porro esse assumenda error saepe alias aut.
                    </p>
                </div>
            </div>
        </div>
        <div class="contenedor-member">
            <a id="tour-2" href="https://www.facebook.com/" title="Ir a facebook" target="_blank"><label>Cuarto del rescate</label></a><img class="members" id="img-user1" src="../public/img/tours/cuarto-rescate.jpg" width="50" heigth="50">
            <div class="cuerpo">
                <div class="ventana">
                    <div class="foto"><img class="imag" src="../public/img/tours/cuarto-rescate.jpg"></div>
                    <div class="datos">
                        <ul>
                            <li>Historia incaica</li>
                            <li>Muerte de inca Atahualpa</li>
                            <li>Grandes cantidades de oro y plata</li>
                            <img class="gif" src="../public/img/loader.gif">
                        </ul>

                    </div>
                </div>
            </div>
            <div class="container-description">
                <h3>Descripción</h3>
                <div class="description">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis exercitationem, ratione, quasi voluptatum nostrum, unde non iure omnis eligendi architecto earum? Ut ducimus ad error maiores inventore, incidunt expedita quam! Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Vitae accusamus fuga odio odit rem, eum nesciunt sint suscipit laudantium harum, ad nostrum at, porro esse assumenda error saepe alias aut.
                    </p>
                </div>
            </div>
        </div>
        <div class="contenedor-member">
            <a id="tour-3" href="https://www.facebook.com/" title="Ir a facebook" target="_blank"><label>Santa Apolonia</label></a><img class="members" id="img-user1" src="../public/img/tours/santa-apolonia.jpg" width="50" heigth="50">
            <div class="cuerpo">
                <div class="ventana">
                    <div class="foto"><img class="imag" src="../public/img/tours/santa-apolonia.jpg"></div>
                    <div class="datos">
                        <ul>
                            <li>Hermoso mirador natural</li>
                            <li>Estupenda vista a Cajamarca</li>
                            <li>Grandes cantidades de oro y plata</li>
                            <img class="gif" src="../public/img/loader.gif">
                        </ul>

                    </div>
                </div>
            </div>
            <div class="container-description">
                <h3>Descripción</h3>
                <div class="description">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis exercitationem, ratione, quasi voluptatum nostrum, unde non iure omnis eligendi architecto earum? Ut ducimus ad error maiores inventore, incidunt expedita quam! Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Vitae accusamus fuga odio odit rem, eum nesciunt sint suscipit laudantium harum, ad nostrum at, porro esse assumenda error saepe alias aut.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <a href="contact.html">Contactar</a>
        <img class="gif-size" src="../public/img/loader.gif">
        <h3>Contáctanos</h3>
    </div>
</body>

</html>