<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Team PHP Artisan - Inicio</title>
    <link rel="icon" href="public/img/index/scrum.png" size="192x192">
    <link href="../public/asset/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>

<body class="mb-4">
    <div class="container-fluid p-0 m-0">
        <ul class="nav justify-content-center fixed-top m-5">
            <li class="nav-item rgba-light-dark pl-4 pr-4">
                <a class="nav-link text-white text-capitalize" href="../index.html">Perfil</a>
            </li>
            <li class="nav-item rgba-light-dark pl-4 pr-4">
                <a class="nav-link text-white text-capitalize" href="contact.html">Contacto</a>
            </li>
            <li class="nav-item rgba-light-dark pl-4 pr-4">
                <a class="nav-link text-white text-capitalize" href="zozor.html">Zozor</a>
            </li>
        </ul>
        <img class="p-0 m-0" src="../public/img/index/otuzco.jpg" width="100%" height="300">
    </div>
    <div class="container align-content-start text-center">
        <h1 class="m-3">Sitios turísticos</h1>
        <div class="row">
            <div class="col col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="../public/img/tours/banos-inca.jpg" class="card-img-top" height="200px">
                    <div class="card-body">
                        <h5 class="card-title">Baños del inka</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
            <div class="col col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="../public/img/tours/cuarto-rescate.jpg" class="card-img-top" height="200px">
                    <div class="card-body">
                        <h5 class="card-title">Cuarto del rescate</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
            <div class="col col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="../public/img/tours/santa-apolonia.jpg" class="card-img-top" height="200px">
                    <div class="card-body">
                        <h5 class="card-title">Santa Apolonia</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="public/asset/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>