.text-white {
    color: white;
}

.container>#banos-inka {
    position: absolute;
    width: 330px;
    text-align: center;
    padding: 10px !important;
    margin-top: -85%;
}

.description {
    color: white;
}

.hide {
    display: none;
}

.contenedor-member:hover .container-description {
    border-radius: 10px;
    margin-left: 370px !important;
    display: block;
    transition-duration: 1s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
    width: 350px;
    margin-top: -360px !important;
}

.container-description {
    display: none;
}

.description {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
    text-align: center;
}

.contenedor-member:hover video {
    border: 2px solid #fff;
    opacity: 1;
    z-index: 1000px;
}